*.class
*.png
*.html
*.js
*.css
*.log
*.tmp
*.debug.keystore
*.ipa
*.DS_Store
*.classpath
*.settings
Build/
Test-Output/
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/uiDesigner.xml
*.metadata/.*
metadata.*
.metadata.*
.idea.*
.idea/dbnavigator.xml
.idea/*
.scannerwork/
*.iml
target/
Result/*
Output/*
Output/cucumber.json
Output/cucumber.xml
Output/cucumber-usage.json
allure-results/
cucumber.json
cucumber.xml
.allure/*
.scannerwork/
*.iml
SQS_BDD_Framework.iml

